/* Global */
:root {
  --main-color: #616571;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --color-4: #ee49fd;
  --color-5: #edf2ff;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Jaldi', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.btn-1 {
  background-color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  animation: pulse_01 1.5s ease infinite;
}

.btn-1:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
  animation: none;
  color: #fff;
  background-color: var(--main-color);
}

.btn-2 {
  background-color: var(--main-color);
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
}

.row .media {
  margin: 0;
}

.btn > i {
  font-size: 27px;
  color: #fff;
}

.btn-2:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-2:hover {
  animation: none;
  color: var(--black-900);
  background-color: var(--black-100);
}

@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}

.effect-wrap .effect-1 {
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: var(--color-2);
  animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
  right: 5%;
  top: 10%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
  left: 5%;
  bottom: 30%;
  font-size: 25px;
  color: var(--color-3);
  animation: spin_01 3s linear infinite;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.section-title h2 span {
  color: var(--main-color);
}

.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin: 20px;
}

.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #ddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
  background-color: var(--main-color);
}

/* Skill */
.skill .skill-item {
  box-shadow: var(--shadow-black-100);
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.skill .skill-item::before,
.skill .skill-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.4s ease;
  opacity: 0;
}

.skill .skill-item::before {
  height: 20px;
  width: 20px;
  background-color: var(--color-1);
  left: -20px;
  top: 40%;
}

.skill .skill-item:hover::before {
  left: 10px;
  opacity: 1;
}

.skill .skill-item::after {
  height: 30px;
  width: 30px;
  background-color: var(--color-2);
  right: -30px;
  top: 80%;
}

.skill .skill-item:hover::after {
  opacity: 1;
  right: -10px;
}

.skill .skill-item .icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 30px;
  font-size: 30px;
  color: var(--main-color);
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.skill .skill-item .icon i {
  line-height: 60px;
}

.skill .skill-item .icon::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  z-index: -1;
  opacity: 0;
}

.skill .skill-item:hover .icon::before {
  left: 0;
  border-radius: 50%;
  opacity: 1;
}

.skill .skill-item:hover .icon {
  color: #fff;
  font-size: 25px;
}

.skill .skill-item h3 {
  font-size: 22px;
  margin: 0 0 20px;
  color: var(--black-900);
  font-weight: 500;
  text-transform: capitalize;
}

.skill .skill-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-400);
  margin: 0 0 15px;
}

/* End Skill */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

/* Navbar */
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
  border-radius: 35px 35px 35px 35px;
  margin: 10px;
}

.navbar > .container {
  padding: 0 15px;
}

.navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 400;
}

.navbar-brand:hover {
  color: #e91e63;
}

.navbar .nav-item {
  margin-left: 30px;
}

.navbar .nav-item .nav-link {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

.dropdown-menu {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
}

/* Animista */

/* @-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #7b8fa1;
  }
  100% {
    background: #567189;
  }
} */

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* .color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
} */

.text-shadow-pop-right {
  -webkit-animation: text-shadow-pop-right 0.6s both;
  animation: text-shadow-pop-right 0.6s both;
}

.dropdown-menu a {
  color: #252525;
}

/* Home */
.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-color);
  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
}

.home-text h2 {
  font-size: 45px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px;
}

.home-text p {
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.home .home-btn {
  margin-top: 40px;
}

.home-img img {
  max-width: 555px;
  width: 100%;
  /* box-shadow: var(--shadow-black-100); */
  border-radius: 30px;
  animation: bounceTop_01 3s ease infinite;
}

.home-img {
  position: relative;
}

.home-img .circle {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-img .circle::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  left: 30px;
  top: 30px;
  transform-origin: 170px 170px;
  animation: spin_01 10s linear infinite;
}

/* end */

/* fun-fac */
.fun-facts {
  background-color: var(--black-100);
}

.fun-facts .section-title {
  margin-bottom: 20px;
}
.fun-facts .section-title h2 {
  text-align: left;
}

.fun-facts-img img {
  max-width: 500px;
  width: 100%;
  /* box-shadow: var(--shadow-black-100); */
  border-radius: 20px;
  animation: bounceTop_01 3s ease infinite;
}

.fun-facts-text p {
  font-size: 16px;
  line-height: 26px;
  color: var(--black-400);
  margin: 0 0 15px;
  font-weight: 500;
}

.fun-fact-item {
  padding: 30px;
  text-align: center;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  margin-top: 30px;
}

.fun-fact-item h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 5px;
}

.fun-fact-item span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
  display: block;
  color: #fff;
}

.fun-fact-item.style-1 {
  background-color: var(--color-1);
}
.fun-fact-item.style-2 {
  background-color: var(--color-2);
}
.fun-fact-item.style-3 {
  background-color: var(--color-3);
}
.fun-fact-item.style-4 {
  background-color: var(--main-color);
}
.fun-fact-item.style-5 {
  background-color: var(--color-4);
}
/* end */

/* App Screenshot */
.screenshot-item {
  margin: 15px;
}

.screenshot-item img {
  width: 100%;
  max-width: 355px;
  display: block;
  margin: auto;
}
/* end */

/* Tools */
.tools {
  background-image: url(../img/download-app-bg.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.tools .section-title h2 {
  color: #fff;
}

.tools::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--main-to-dark-color);
  opacity: 0.8;
}

.tools-item {
  background-color: var(--black-000);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow-black-100);
}

.tools-item i {
  font-size: 30px;
  color: var(--main-color);
  display: inline-block;
}

.tools-item h3 {
  font-size: 22px;
  color: var(--black-900);
  margin: 20px 0;
  font-weight: 800;
  text-transform: capitalize;
}

.tools-item p {
  font-size: 16px;
  color: var(--black-400);
  font-weight: 400;
  margin: 0 0 30px;
  line-height: 26px;
  text-transform: capitalize;
}

/* end */

/* HOW IT WORKS */
.how-it-works-item {
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.how-it-works-item.line-right::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  left: 50%;
  top: 59px;
  background-color: var(--main-color);
  z-index: -1;
}

.how-it-works-item .step {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: var(--main-color);
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 15px;
}

.how-it-works-item h3 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: var(--black-900);
  text-transform: capitalize;
}

.how-it-works-item p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: var(--black-400);
  line-height: 26px;
}
/* end */

/* faq */

.faq .accordion-item:not(:last-child) {
  margin-bottom: 20px;
}

.faq .accordian-header {
  box-shadow: var(--shadow-black-100);
  padding: 20px 30px;
  transition: all 0.5s ease;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.faq .accordian-header::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  height: 30px;
  width: 30px;
  /* background-color: red; */
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: var(--black-400);
}

.faq .accordian-header:not(.collapsed)::before {
  content: "\f068";
  color: #fff;
}

.faq .accordian-header:not(.collapsed) {
  background-color: var(--main-color);
}

.faq .accordian-header h3 {
  font-size: 18px;
  font-weight: 900;
  color: var(--black-900);
  margin: 0;
  transition: all 0.5s ease;
}

.faq .accordian-header:not(.collapsed) h3 {
  color: #ffffff;
}

.faq .accordian-body {
  padding: 30px;
}

.faq .accordian-body p {
  font-weight: 900;
  font-size: 16px;
  color: var(--black-900);
  line-height: 26px;
  margin: 0;
}
/* end */

/* Contact */
.contact {
  background-color: var(--black-100);
}

.contact-info h3 {
  font-size: 22px;
  color: var(--black-900);
  margin: 0 0 40px;
}

.contact-info-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}

.contact-info-item i {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  line-height: 38px;
}

.contact-info-item h4 {
  font-size: 18px;
  margin: 0 0 10px;
  color: var(--black-900);
}

.contact-info-item p {
  font-size: 16px;
  margin: 0;
  line-height: 26px;
  color: var(--black-400);
}

.contact-form .form-group {
  margin-bottom: 25px;
}

.contact-form .form-control {
  height: 52px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 30px;
  padding: 0 24px;
  color: var(--black-900);
  background-color: var(--black-000);
  transition: all 0.5s ease;
}

.contact-form textarea.form-control {
  height: 145px;
  padding-top: 12px;
  resize: none;
}

.contact-form .form-control:focus {
  border-color: var(--main-color);
}
/* end */

/* Footer */
.footer {
  background-color: var(--main-color);
  padding: 50px 0;
}

.footer-col h3 {
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 26px;
  margin: 0;
}

.footer-col ul {
  margin: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}

.footer-col ul li a:hover {
  padding-left: 5px;
}

.footer .copyright-text {
  padding: 20px 0 0;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin: 50px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* End */

/* Responsive */
@media (max-width: 991px) {
  .navbar-brand {
    color: #f5ae10;
  }
  .navbar-shrink {
    background-color: linear-gradient(right, #6157ff, #e91e63);
    backdrop-filter: blur(10px);
  }

  .navbar-toggler {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: #fff;
  }

  .navbar-nav {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
    border-radius: 5px;
  }

  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }

  .navbar .nav-item i {
    color: #252525;
  }

  .dropdown .dropdown-menu {
    background-color: var(--dark-to-main-color);
  }

  .dropdown .dropdown-menu .dropdown-item {
    color: #fff;
  }

  .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #6157ff;
    color: #fff;
    border-radius: 5px;
  }

  .home-img .circle {
    height: 320px;
    width: 320px;
  }

  .home-img .circle::before {
    left: 10px;
    top: 18px;
    transform-origin: 142px 142px;
  }

  .home-text h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .home-text {
    margin-bottom: 80px;
  }

  .fun-facts-img {
    margin-bottom: 30px;
  }

  .how-it-works-item,
  .tools-item {
    margin-bottom: 30px;
  }

  .how-it-works-item.line-right::before {
    content: none;
  }

  .how-it-works-item {
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
  }

  .contact-form {
    margin-top: 20px;
  }

  .footer-col {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .home-text h1 {
    font-size: 30px;
  }

  .home-text p {
    font-size: 20px;
  }
}
